@import "compass";
@import "foundation/functions";

.marketplace_products {
  margin:rem-calc(20px) 0px;

  .product {
    height:auto;
    clear:none;
    position:relative;

    .product_name,
    .donation {
      display:none;
    }
    
    .product_prices {
      position:absolute;
      bottom:5%;
      right:3%;
      padding:rem-calc(5px) rem-calc(10px);
      //      background:#000;
      color:#fff;
      margin:0px;
    }
  }
}

.products {
  margin:2rem 0;

  .product {
    padding-top:0.8rem;
    border:1px solid transparent;

    &:hover {
      border-color:#ccc;
      background:#FFF;
    }

    .product_info {
      padding:0.5rem 0.5rem 0;
    }

    .product_image {
      border-bottom:rem-calc(1px) solid #CCC;
    }
  }
}