.marketplace_products {
  margin:20px 0px;

  .product {
    height:auto;
    clear:none;
    position:relative;

    .product_name,
    .donation {
      display:none;
    }
    
    .product_prices {
      position:absolute;
      bottom:5%;
      right:3%;
      padding:5px 10px;
      background:#000;
      color:#fff;
      margin:0px;
    }
  }
}

.shop .products {
  margin:2rem 0;
}