////////////////
///
///   I.    Shop Information
///   II.   Editor
///   III.  Standalone product
///
///
///////////////// 
@import "compass";
@import "foundation/functions";
@import "shared/foundation_and_overrides";

// Shop Information
.shop_information {
  margin:0 0 5rem;

  h1 {
    color:red;
  }

  .description {
    font-size:0.9rem;
  }
}
// Shop Information

// Editor
body.loading .loading_indicator {
  display:block;
}

#designer {
  overflow:hidden;
  position:relative;
  font-size:rem-calc(13px);

  // steps
  .steps {
    margin:1.6rem 0;

    h1, h2 {
      text-transform: lowercase;
      letter-spacing:rem-calc(-1px);
    }

    h2 {
      font-size:rem-calc(28px);
    }

    .step {
      float:left;
      line-height:rem-calc(40px);
      padding:0 rem-calc(10px) 0 rem-calc(30px);
      margin:0;
      font-size:0.8rem;
      list-style:none;
      position:relative;
      text-transform: lowercase;

      a {
        font-size:rem-calc(18px);
        color:#333;
        letter-spacing:rem-calc(-1px);
        font-weight:bold;
      }

      &:first-child {
        padding-left:rem-calc(10px);
      }

      &:before {
        border-style: solid;
        display: block;
        position: absolute;
        width: 0;
        border-color: transparent inherit;
        left:100%;
        z-index:99;
        top:0;
      }

      &.next_step {
        a {
          color:#777;
        }
      }

      &.last_step {
        a {
          color:#777;
        }
      }
    }
  }
  // steps

  //viewer
  .viewer {
    float:left;
    position:relative;
    overflow:hidden;
    height:rem-calc(850px);
    border:rem-calc(1px) solid #ccc;  z-index:2;
    background:transparent image-url("mens_crew_ffffff.jpg") top center no-repeat;

    .item_specifications a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .product {
      position:absolute;
      width:100%;
      height:100%;
      background-position:50% 0;
      //    margin-top:rem-calc(40px);
    } 
    .editable_area .asset {
      position:absolute;
      padding:rem-calc(1px);
      &:hover {
        border:rem-calc(1px) solid #0ff;
        padding:rem-calc(0px);
      }
      &.asset_photo {
        overflow:hidden;
        img {
          width:100%;
        }
      }
      &.selected {
        border:rem-calc(1px) solid rgba(0,255,255,0.7);
        padding:0;
      }
    }
  }
  // viewer

}
//Editor

//styles
.styles {
  float:left;
  border:solid #ccc;
  border-width:rem-calc(1px) rem-calc(1px) rem-calc(1px) 0;
  background:#fff;

  .content_buttons button {
    font-size:1.5rem;
    padding:0 1rem;
    line-height:3;
  }

  .add_art.toggled {
    background:#999;
  }

  .title {
    border-top: rem-calc(1px) solid #EFEFEF;
    background:none;
    color: #222;
    padding: 1rem;
    display: block;
    font-size: 1rem;

    &:hover {
      background:#F0F0F0;
    }
  }

  .content button {
    margin:0 0 rem-calc(20px);
  }

  .content,
  .price_container,
  .submit_button {
    padding:rem-calc(20px);
  }

  .content {
    background:#ddd;
    &.active {
      background:#d1d1d1 !important;
    }
  }

  .price_container p {
    font-size:1.3rem;
  }

  @media only screen and (min-width: 40.063em) {
    & {
      //      margin-top:-4rem;

      .content_buttons button {
        font-size:0.8rem;
      }
    }
  }
}

.submit_button > .button {
  margin:0 0 rem-calc(15px);

  &,
  & .button_inner_most {
    width:100%;
  }

  &.destroy_button {
    margin:0;
    width:auto;
  }
}

.product_styles_container ul {
  list-style-type:none;

  li {
    margin:0;
    padding:rem-calc(10px);
    overflow:hidden;

    .thumbnail {
      width:rem-calc(50px);
      height:rem-calc(50px);
      background-position:50% 50%;
      background-repeat:no-repeat;
      border:1px solid #ccc;
      margin-right:rem-calc(10px);
      float:left;
      text-indent:rem-calc(-2000px);
    }
    &.current, &:hover {
      background:#ffc;    
    }
  }

  .product_sub_styles {
    list-style-type:none;
    margin:0;
    padding:0;
  }

  //swatches
  .swatches {
    overflow:hidden;
    list-style-type:none;
    margin:0;
    padding:0;

    .swatch {
      float:left;
      margin:0px rem-calc(1px) 0px rem-calc(0px)!important;
      width:2.5rem;
      height:2.5rem;
      border:rem-calc(1px) solid #ddd;
      text-indent:rem-calc(-2000px);

      &.current, .swatches .swatch:hover {
        border-color:#fc0;
      }

      &.current {
        border: rem-calc(1px) solid #fc0;
      }
    }
  }
  //swatches

  //asset_tools
  ul.asset_tools {
    list-style-type:none;

    &.disabled {
      opacity:0.5;
    }

    li {
      float:left;
      margin:0px rem-calc(10px) 0pxrem-calc( 0px);

      &.font_family {
        float:none;
      }

      label {
        display:block;
        font-size:rem-calc(10px);
        text-transform:uppercase;
      }
    }
    .alignment {
      ul {
        list-style-type:none;
      }
      .alignment_button {
        cursor:pointer;
        text-align:center;
        color:#fff;
        line-height:rem-calc(36px);
        &.current {
          background-color:#333;
        }
        &.alignment_left {

        }
        &.alignment_center {
          
        }
        &.alignment_right {
          
        }
      }
    }

    & > li {
      display:none;
      margin-right:.2rem;
    }

    &.show_asset_text_fields > li.asset_text_field {
      display:block;
    }
    
    &.show_asset_photo_fields > li.asset_photo_field {
      display:block;
    }

    .asset_photo_field button,
    .alignment ul li {
      width:2.1rem;
      height:2.1rem;
      background:#666;
      margin:0px 1px 0pxrem-calc( 0px);
      padding:0;
    }

    .asset_photo_field {
      float:left;
      width:auto;
    }

    .zindexes,
    .clone_and_delete {
      padding-top:1rem;
      margin-right:0;
    }

    .sp-replacer {
      padding:0.34rem;
    }
  }
  //asset_tools
}
//styles

.product_color {
  z-index:1;
  background-color:#fff;
}

.asset_tools_container,
.editable_area {
  z-index:3;
  position:absolute;
  border:rem-calc(1px) dashed #999;
  top:rem-calc(200px);
  left:rem-calc(180px);
  height:rem-calc(450px);
}

.asset_tools_container {
  z-index:4;
  top:auto;
  left:auto;
  clear:both;
  position:relative;
  left:0;
  right:0;
  min-height:4rem;
  height:auto;
  border:0 none;
  padding:0;

  fieldset {
    margin:0;
    border:0 none;
  }
}

.editable_area_label {
  display:none;
  position:absolute;
  right:0;
  bottom:rem-calc(-20px);
  background:#333;
  font-size:rem-calc(10px);
  padding:rem-calc(3px) rem-calc(6px);
  color:#fff; 
}
.editable_area:hover .editable_area_label {
  display:block;
}

#editor.information {

  .inner {
    background:#FFF;
  }

  .viewer {
    overflow:visible;
    .item {
      height:rem-calc(480px);
      margin-bottom:rem-calc(10px);
      border:1px solid #ccc;
      background-repeat:no-repeat;
      background-position: 50% 0%;
      background-size: contain;
    }
  }

  .info_form_container {
    float:left;
    form {
      margin:rem-calc(20px);
    }
    label, input {
      font-size:rem-calc(20px);
      display:block;
    }
    textarea {
      width:100%;
      height:1rem-calc(50px);
    }
    input.text, textarea, select {
      margin-bottom:rem-calc(20px);
    }
  }
  .totals_and_instructions {
    float:left;
  }
  .totals {
    background:#fff;
    padding:rem-calc(20px);
    margin:0px rem-calc(20px);
    dt { font-size:rem-calc(16px); }
    dd { font-size:rem-calc(24px); margin-bottom:rem-calc(10px); }
  }
  .help {
    margin:rem-calc(20px);
    padding:rem-calc(10px);
    h3,p {
      margin-bottom:rem-calc(10px);
    }
  }
}

.loading_indicator {
  background:#f90;
  text-align:center;
  color:#fff;
  font-weight:bold;
  display:none;
  position:absolute;
  top:0;
  left:9rem-calc(00px);
  padding:5px rem-calc(10px);
}

.products {
  list-style-type:none;
}

.product {
  clear:both;

  .product_name {
    text-align:center;
  }

  .product_image_container .product_image {
    // override these dimensions in specific views,
    // but don't remove them from this base definition
    width: rem-calc(297px);
    height: rem-calc(420px);
    left: rem-calc(137px);
    background: transparent image-url('mens_crew_000000.png') no-repeat 50%;
    background-size: cover;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    @media #{$small-only} {
      & {
        left:0;
      }
    }
  }
  .product_prices ul {
    list-style-type:none;
  }
  .product_prices {
    .label_unit_total,
    .label_unit_price,
    .total_price {
      display:none;

    }
    &.volume_pricing {
      .label_unit_total,
      .label_unit_price,
      .total_price {
        display:block;
      }
    }
  }
}

.artwork_viewer {
  //  width: 2rem-calc(75px);
  height: 4rem-calc(20px);
  overflow-y: auto;

  .artwork {
    clear:both;

    .image_object {
      position:relative;
      list-style-type:none;
        //      float:left;
        //      margin:0px 2px 2pxrem-calc( 0px);
        //      border:1px solid #ddd;
        //      width:1rem-calc(28px);
      &.loading {
        opacity:0.5;

        &:hover{
          .instructions { 
            display:none; 
          }
          .loading_indicator {
            display:block;
          }
        }
        .loading_indicator {
          display:block;
        }
      }

      .instructions,
      .loading_indicator {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(0,0,0,0.5);
        color:#fff;
        text-align:center;
        display:none;
        padding:30% 10%;
        font-size:rem-calc(16px);
        cursor:pointer;
      }
      &:hover {
        .instructions {
          display:block;
        }
      };
    }

    .image_object_thumbnail {
      width:100%;
      height:1rem-calc(28px);
      background-size:cover;
      background-repeat:no-repeat;
      background-position:top center;
    }
    .image_object_title {
      font-size:rem-calc(11px);
      text-align:center;
      background:rgba(0,0,0,0.5);
      color:#fff;
      padding:rem-calc(3px);
      text-overflow:ellipsis;
      //width:1rem-calc(26px);
      height:rem-calc(20px);
      display:block;
    }
  }  
}

.toggle_artwork_viewer {
  padding:3pxrem-calc( 6px);
  text-align:center;
  background:#ccc;
  margin-bottom:rem-calc(20px);
  cursor:pointer;
}

.styles.expanded_artwork {
  .artwork_viewer {
    height: 7rem-calc(00px);
  }
  .simple_form.product {
    display: none;
  }
}

.ui-resizable-handle.ui-icon-gripsmall-diagonal-se {
  background-position:-35px -1rem-calc(72px);
  background-size:500px 5rem-calc(00px);
  width:rem-calc(26px);
  height:rem-calc(26px);

  .asset:hover &,
  .asset:focus & {
    background-color:rgba(255,255,255,0.7);
  }
}

.product_image_container_shirt {
  background:transparent image-url('mens_crew_ffffff.jpg') top center no-repeat;
  position:relative;
  height:rem-calc(750px);
  width:100%;
  
  .product_image {
    position:absolute;
    top:rem-calc(170px);
    left:rem-calc(97px);
    border:0;
  }
  &.shirt_000000 {
    background-image:image-url('mens_crew_000000.jpg');
  }
  &.shirt_003366 {
    background-image:image-url('mens_crew_003366.jpg'); 
  }
  &.shirt_666666 {
    background-image:image-url('mens_crew_666666.jpg'); 
  }
  &.shirt_551100 {
    background-image:image-url('mens_crew_551100.jpg'); 
  }
}

.inner {
  padding:rem-calc(20px);
}

.product_share_tools .small-12 {
  overflow:hidden;
}

// Standalone product
.standalone_product {

  .product_hearts {
    position:absolute;
    top:0;
    left:rem-calc(-50px);

    .button_inner_most {
      @include border-radius(rem-calc(100px)!important);
    }
  }

  .product_description {
    padding:rem-calc(30px) rem-calc(10px);
    border-bottom:rem-calc(1px) solid #CCC;
    margin-bottom:rem-calc(30px);
    line-height:1.5;
  }

  .product_purchase .inner {
    padding-top:0;

    h4 {
      margin-bottom:rem-calc(30px);
    }

    dt {
      float:left;
      width:rem-calc(100px);
      clear:both;
    }
  }

  .product_header {
    margin:0 0 rem-calc(20px) 0;

    h1 {
      margin:0;
      font-family:'Open sans';
      font-weight:normal;
    }
    .owner_tools {
      display:inline-block;
      margin-left:rem-calc(10px);
      white-space:nowrap;
    }
  }

  .product_prices h3 {
    font-family:'Open sans';
  }

}
// Standalone product