.steps {
  overflow:hidden;
  .step {
    float:left;
    margin-right:50px;
  }
  background:#fff;
}

#designer {
  overflow:hidden;
  position:relative;
  font-size:13px;
}

.viewer {
  float:left;
  position:relative;
  overflow:hidden;
  width:650px;
  height:850px;
  border:1px solid #ccc;
  margin-right:10px;
}

.styles {
  float:left;
  width:250px;
  height:400px;
  border:1px solid #ccc;
  padding:20px;
  background:#fff;
}

.product_styles_container ul {
  list-style-type:none;
  li {
    margin:0px;
    padding:10px;
    overflow:hidden;
    .thumbnail {
      width:50px;
      height:50px;
      background-position:50% 50%;
      background-repeat:no-repeat;
      border:1px solid #ccc;
      margin-right:10px;
      float:left;
      text-indent:-2000px;
    }
    &.current, &:hover {
      background:#ffc;    
    }
  }
}

.product_sub_styles {
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.viewer {
  .product {
    position:absolute;
    width:100%;
    height:100%;
  } 
  .editable_area .asset {
    position:absolute;
    padding:1px;
    &:hover {
      border:1px solid #0ff;
      padding:0px;
    }
    &.asset_photo {
      overflow:hidden;
      img {
        width:100%;
      }
    }
    &.selected {
      border:1px solid rgba(0,255,255,0.7);
      padding:0px;
    }
  }
}

.swatches {
  overflow:hidden;
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.swatches .swatch {
  float:left;
  margin:0px 1px 0px 0px;
  width:30px;
  height:30px;
  border:1px solid #ddd;
  text-indent:-2000px;
}

.swatches .swatch.current, .swatches .swatch:hover {
  border-color:#fc0;
}

.swatches .swatch.current {
  border: 1px solid #fc0;
}

.viewer .product {
  z-index:2;
  background:transparent image-url("mens_crew_ffffff.jpg") top center no-repeat;
}
.product_color {
  z-index:1;
  background-color:#fff;
}
.asset_tools_container, .editable_area {
  z-index:3;
  position:absolute;
  border:1px dashed #999;
  top:170px;
  left:180px;
  width:270px;
  height:450px;
}
.asset_tools_container {
  z-index:4;
  top:0px;
  left:0px;
  right:0px;
  height:40px;
  width:auto;
  background:#888;
}
.asset_tools {
  overflow:hidden;
  list-style-type:none;
}
.asset_tools.disabled {
  opacity:0.5;
}
.asset_tools li {
  float:left;
  margin:0px 10px 0px 0px;
}
.asset_tools li label {
  display:block;
  font-size:10px;
  text-transform:uppercase;
}
.asset_tools .font_family {
  width:150px;
}
.asset_tools .font_size {
  width:70px;
}
.asset_tools .alignment {
  width:100px;
}
.asset_tools .alignment ul {
  list-style-type:none;
  overflow:hidden;
}
.asset_tools .alignment ul li {
  background:#666;
  margin:0px 1px 0px 0px;
  width:25px;
  height:25px;
}
.asset_tools .color {
  width:120px;
}
.asset_tools .fill {
  width:120px;
}

.asset_tools > li {
  display:none;
}
.asset_tools.show_asset_text_fields > li.asset_text_field {
  display:block;
}
.asset_tools.show_asset_photo_fields > li.asset_photo_field {
  display:block;
}

.editable_area_label {
  display:none;
  position:absolute;
  right:0px;
  bottom:-20px;
  background:#333;
  font-size:10px;
  padding:3px 6px;
  color:#fff; 
}
.editable_area:hover .editable_area_label {
  display:block;
}

#editor.information {
  .viewer {
    width:360px;
    padding:20px;
    .item {
      height:480px;
      margin-bottom:10px;
      border:1px solid #ccc;
    }
  }
  .info_form_container {
    float:left;
    padding:20px;
    label, input {
      font-size:20px;
      display:block;
    }
    textarea {
      width:100%;
      height:150px;
    }
    input, textarea {
      margin-bottom:20px;
    }
  }
}