//start of header#main
header#main {
  overflow:hidden;
  background:#333;
  line-height:40px;

  h1 {
    width:100px;
    height:40px;
  }

  h2 {
    line-height:40px;
    color:#FFF;
    padding-right:1rem;
  }

  .navigation {
    list-style-type:none;
    margin: 0px;
    border-bottom:1px solid #ccc;
    overflow: hidden;
  }
}
//end of header#main

.steps {
  margin:0 0 0.3rem;

  .step {
    float:left;
    line-height:40px;
    padding:0 10px 0 30px;
    margin:0;
    font-size:1.4rem;
    //    color:#FFF;
    list-style-position:inside;
    position:relative;
    background:#DDD;
    border-color:#DDD;

    a {
      color:#333;
    }

    &:first-child {
      padding-left:10px;
    }

    &:before {
      border-style: solid;
      content: "";
      display: block;
      position: absolute;
      width: 0;
      border-color: transparent inherit;
      border-width: 20px 0 20px 20px;
      left:100%;
      z-index:99;
      top:0;
    }

    &.next_step {
      background:#999;
      border-color:#999;
    }

    &.last_step {
      background:#666;
      border-color:#666;
    }

    &.active {
      font-weight:bold;
    }
  }
}

#designer {
  overflow:hidden;
  position:relative;
  font-size:13px;
}

.viewer {
  float:left;
  position:relative;
  overflow:hidden;
  height:850px;
  border:1px solid #ccc;
}

.styles {
  float:left;
  border:1px solid #ccc;
  padding:20px;
  background:#fff;
  .add_art.toggled {
    background:#999;
  }
}

.product_styles_container ul {
  list-style-type:none;
  li {
    margin:0px;
    padding:10px;
    overflow:hidden;
    .thumbnail {
      width:50px;
      height:50px;
      background-position:50% 50%;
      background-repeat:no-repeat;
      border:1px solid #ccc;
      margin-right:10px;
      float:left;
      text-indent:-2000px;
    }
    &.current, &:hover {
      background:#ffc;    
    }
  }
}

.product_sub_styles {
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.viewer {
  .product {
    position:absolute;
    width:100%;
    height:100%;
    margin-top:40px;
  } 
  .editable_area .asset {
    position:absolute;
    padding:1px;
    &:hover {
      border:1px solid #0ff;
      padding:0px;
    }
    &.asset_photo {
      overflow:hidden;
      img {
        width:100%;
      }
    }
    &.selected {
      border:1px solid rgba(0,255,255,0.7);
      padding:0px;
    }
  }
}

.swatches {
  overflow:hidden;
  list-style-type:none;
  margin:0px;
  padding:0px;
}

.swatches .swatch {
  float:left;
  margin:0px 1px 0px 0px;
  width:30px;
  height:30px;
  border:1px solid #ddd;
  text-indent:-2000px;
}

.swatches .swatch.current, .swatches .swatch:hover {
  border-color:#fc0;
}

.swatches .swatch.current {
  border: 1px solid #fc0;
}

.viewer .product {
  z-index:2;
  background:transparent image-url("mens_crew_ffffff.jpg") top center no-repeat;
}
.product_color {
  z-index:1;
  background-color:#fff;
}

.asset_tools_container,
.editable_area {
  z-index:3;
  position:absolute;
  border:1px dashed #999;
  top:200px;
  left:180px;
  height:450px;
}

.asset_tools_container {
  z-index:4;
  top:2.8rem;
  left:0px;
  right:0px;
  height:4rem;
  background:#888;
  padding:0;

  fieldset {
    margin:0;
    border:0 none;
  }
}

ul.asset_tools {
  list-style-type:none;

  &.disabled {
    opacity:0.5;
  }

  li {
    float:left;
    margin:0px 10px 0px 0px;

    label {
      display:block;
      font-size:10px;
      text-transform:uppercase;
    }
  }
  .alignment {
    ul {
      list-style-type:none;
    }
    .alignment_button {
      cursor:pointer;
      text-align:center;
      color:#fff;
      line-height:36px;
      &.current {
        background-color:#333;
      }
      &.alignment_left {

      }
      &.alignment_center {
        
      }
      &.alignment_right {
        
      }
    }
  }

  & > li {
    display:none;
    margin-right:.2rem;
  }

  &.show_asset_text_fields > li.asset_text_field {
    display:block;
  }
  
  &.show_asset_photo_fields > li.asset_photo_field {
    display:block;
  }

  .asset_photo_field button,
  .alignment ul li {
    width:2.1rem;
    height:2.1rem;
    background:#666;
    margin:0px 1px 0px 0px;
    padding:0;
  }

  .asset_photo_field {
    float:left;
    width:auto;
  }

  .zindexes,
  .clone_and_delete {
    padding-top:1rem;
    margin-right:0;
  }

  .sp-replacer {
    padding:0.34rem;
  }
}

.editable_area_label {
  display:none;
  position:absolute;
  right:0px;
  bottom:-20px;
  background:#333;
  font-size:10px;
  padding:3px 6px;
  color:#fff; 
}
.editable_area:hover .editable_area_label {
  display:block;
}

#editor.information {
  .inner {
    margin-top:50px;
  }
  .viewer {
    overflow:visible;
    .item {
      height:480px;
      margin-bottom:10px;
      border:1px solid #ccc;
      background-repeat:no-repeat;
      background-position: 50% 0%;
      background-size: contain;
    }
  }
  .info_form_container {
    float:left;
    form {
      margin:20px;
    }
    label, input {
      font-size:20px;
      display:block;
    }
    textarea {
      width:100%;
      height:150px;
    }
    input, textarea, select {
      margin-bottom:20px;
    }
  }
  .totals_and_instructions {
    float:left;
  }
  .totals {
    background:#fff;
    padding:20px;
    margin:0px 20px;
    dt { font-size:16px; }
    dd { font-size:24px; margin-bottom:10px; }
  }
  .help {
    margin:20px;
    padding:10px;
    h3,p {
      margin-bottom:10px;
    }
  }
}

.loading_indicator {
  background:#f90;
  text-align:center;
  color:#fff;
  font-weight:bold;
  display:none;
  position:absolute;
  top:0px;
  left:900px;
  padding:5px 10px;
}

body.loading .loading_indicator {
  display:block;
}

.products {
  list-style-type:none;
}

.product {
  clear:both;
  margin-bottom:20px;
  .product_image {
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height: 450px;
    background: transparent none top center no-repeat;
    background-size: cover;
    margin-right: 20px;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .product_prices ul {
    list-style-type:none;
  }
  .product_prices {
    .label_unit_total, .label_unit_price, .total_price {
      display:none;

    }
    &.volume_pricing {
      .label_unit_total, .label_unit_price, .total_price {
        display:block;
      }
    }
  }
}

.artwork_viewer {
  width: 275px;
  height: 220px;
  overflow-y: auto;
  .artwork {
    clear:both;
    .image_object {
      position:relative;
      list-style-type:none;
      float:left;
      margin:0px 2px 2px 0px;
      border:1px solid #ddd;
      width:128px;
      &.loading {
        opacity:0.5;
        &:hover{
          .instructions { 
            display:none; 
          }
          .loading_indicator {
            display:block;
          }
        }
        .loading_indicator {
          display:block;
        }
      }
      .instructions, .loading_indicator {
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        background-color:rgba(0,0,0,0.5);
        color:#fff;
        text-align:center;
        display:none;
        padding:30% 10%;
        font-size:16px;
        cursor:pointer;
      }
      &:hover {
        .instructions {
          display:block;
        }
      };
    }

    .image_object_thumbnail {
      width:126px;
      height:128px;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:top center;
    }
    .image_object_title {
      font-size:11px;
      text-align:center;
      background:rgba(0,0,0,0.5);
      color:#fff;
      padding:3px;
      text-overflow:ellipsis;
      //width:126px;
      height:20px;
      display:block;
    }
  }  
}

.toggle_artwork_viewer {
  padding:3px 6px;
  text-align:center;
  background:#ccc;
  margin-bottom:20px;
}
.styles.expanded_artwork {
  .artwork_viewer {
    height: 700px;
  }
  .simple_form.product {
    display: none;
  }
}

.standalone_product {
  .product_image_container, .product_purchase {
    float:left;
  }
}

.product_image_container_shirt {
  background:transparent image-url('mens_crew_ffffff.jpg') top center no-repeat;
  position:relative;
  height:750px;
  .product_image {
    position:absolute;
    top:170px;
    left:97px;
    border:0px;
  }
  &.shirt_000000 {
    background-image:image-url('mens_crew_000000.jpg');
  }
  &.shirt_003366 {
    background-image:image-url('mens_crew_003366.jpg'); 
  }
  &.shirt_666666 {
    background-image:image-url('mens_crew_666666.jpg'); 
  }
  &.shirt_551100 {
    background-image:image-url('mens_crew_551100.jpg'); 
  }
}

.inner {
  padding:20px;
}