////////////////
///
///   I.    Colors
///   II.   Logos
///   III.  Fonts, headings, lists, paragraphs
///   IV.   Icons
///   V.    Buttons
///   VI.   Header
///
///
///////////////// 
@import "compass";

$primary_color : #009345;
$link : #dc0000;

body {
  background:image-url("background_white_wall.jpg") no-repeat!important;
  background-color:#fff !important;
  background-position:top 50% !important;  
}

/// Logos 
.logo a {
  background:transparent image-url("logo.png") no-repeat top center!important;
  width:275px;
  height:185px;
  display:block;
  text-indent:-99999px;
}

/// Fonts, headings, lists, paragraphs
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@font-face {
  font-family: 'Droid Sans', sans-serif;
}
@font-face {
  font-family: 'texgyreherosbold';
  src: image-url('fonts/texgyreheros-bold-webfont.eot');
  src: image-url('fonts/texgyreheros-bold-webfont.eot?#iefix') format('embedded-opentype'),
       image-url('fonts/texgyreheros-bold-webfont.woff') format('woff'),
       image-url('fonts/texgyreheros-bold-webfont.ttf') format('truetype'),
       image-url('fonts/texgyreheros-bold-webfont.svg#texgyreherosbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'texgyreherosregular';
  src: image-url('fonts/texgyreheros-regular-webfont.eot');
  src: image-url('fonts/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
       image-url('fonts/texgyreheros-regular-webfont.woff') format('woff'),
       image-url('fonts/texgyreheros-regular-webfont.ttf') format('truetype'),
       image-url('fonts/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.texgyreregular_fontstack {
  font-family: 'texgyreherosregular', 'Helvetica Neue', Arial, sans-serif!important;
}

.texgyrebold_fontstack {
  font-family: 'texgyreherosbold', 'Helvetica Neue', Arial, sans-serif!important;
}

h1, h2, h3 {
  @extend .texgyrebold_fontstack;
}


////////////
/// Icons
////////////
@font-face {
  font-family: 'icomoon';
  src:image-url('fonts/icomoon.eot');
  src:image-url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    image-url('fonts/icomoon.ttf') format('truetype'),
    image-url('fonts/icomoon.woff') format('woff'),
    image-url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e600";
}
.icon-home:before {
  content: "\e601";
}
.icon-cart:before {
  content: "\e602";
}
.icon-bars:before {
  content: "\e603";
}
.icon-tag:before {
  content: "\e604";
}
.icon-cog:before {
  content: "\e605";
}
.icon-plus:before {
  content: "\e606";
}

/// Buttons
.active { 
  .button.button-icon {
    background:#666;
    border:5px solid #666;
    @include border-radius(40px);
    margin:0 0.8rem 0 0;
    padding:0;
    &:hover {
      background:none;
    }
    span {
      border:1px dashed #fff;
      background:none;
      padding:5px 4px;
      line-height: 2;
      @include border-radius(40px);
      span {
        padding:2px 7px;
        margin:0;
        line-height: 2;
        border:0;
        color:#fff;
        background:$link;
      }
    }
  }
}

.button.button-icon {
  background:#999;
  border:5px solid #999;
  @include border-radius(40px);
  margin:0 0.8rem 0 0;
  padding:0;
  &:hover {
    background:none;
  }
  span {
    border:1px dashed #fff;
    background:none;
    padding:5px 4px;
    line-height: 2;
    @include border-radius(40px);
    span {
      padding:2px 7px;
      margin:0;
      line-height: 2;
      border:0;
      background:#ccc;
      color:#999;
    }
  }
}


/// Header
///  start of header#main

#main.top-bar {
  line-height: 90px;
  height:90px;
  background:none;
  
  h1, h2, h3, h4, h5, h6, p, a, span, li {
    text-shadow:0 1px 1px #000;
  }

    .logo a {
      width:remCalc(162);
      height:116px;
    }

  .top-bar-section {
    padding: 0 1rem;

    ul {
      border:0;
      background:none;
      li a {
        background:none;
        font-size:14px;
        line-height: 39px;
        text-transform: lowercase;
        @extend .texgyrebold_fontstack;
        
        [class^="icon-"], [class*=" icon-"] {
          color:#fff;
          margin-right:0.5rem;
          font-size:13px;
        }      
        &:hover {
          [class^="icon-"], [class*=" icon-"] {
            color:#ccc;
          }
        }
      }
    }
  }

  .navigation {
    list-style-type:none;
    margin: 0;
    overflow: hidden;
  }

  
  .main-nav { 
    background:transparent image-url("nav_bg.png") repeat-x;
    background-position:50% 0;
    line-height: 50px;
    z-index: 3;
    min-height:3.6rem;
    
    h1.logo {
      @include background-size(cover!important);

      &:hover {
        transform:rotate(2deg);
        -ms-transform:rotate(2deg); /* IE 9 */
        -webkit-transform:rotate(2deg); /* Safari and Chrome */
      }

      a {
        line-height:60px;
        background-color:transparent!important;
        display:block;
        padding:0;
      } 
    }

    h2 {
      line-height:40px;
      color:#FFF;
      padding-right:1rem;
    }

    ul li a:hover {
      color:#ccc;
    }
  }
  .secondary-nav {
    background:transparent image-url("nav_bg_subnav.png") repeat-x!important;
    background-position: top right !important;
    top: -13px;
    height:60px;
    line-height: 60px;
    z-index: 2;

    h2 {
      @extend .texgyreregular_fontstack;      
      font-size:12px;
      line-height: 41px;
      color:#fff;
      margin:0 2rem 0 0;
      text-transform: lowercase;

    }

    ul {
      border:0;
      clear:none;
      background:none;
      margin:0 0 0 0.3rem;

      li { 
        a:hover {
          color:#ccc;
        }
       
        &.management_link.create_new_item {
          background:rgba(0,0,0,0.1);
       
          .icon-plus {
            font-size:7px;
            @include border-radius(20px);
            @include box-shadow(1px 1px 0 #000);
            background:#fff;
            padding:0.3rem;
            color:#666;
            text-shadow:none;
          }
        }

      }

    }
  }
  .shopping_cart {
  }
}
//end of header#main





