////////////////
///
///   I.    Colors
///   II.   Logos
///   III.  Fonts, headings, lists, paragraphs
///   IV.   Icons
///   V.    Buttons
///   VI.   Header
///
///
///////////////// 
@import "compass";
@import "foundation/functions";
@import "shared/fonts";

$primary-color : #009345;
$link : #dc0000;

body {
  background:image-url("background_white_wall.jpg") no-repeat!important;
  background-color:#fff !important;
  background-position:top 50% !important;  
}

/// Logos 
.logo {
  overflow:hidden;

  a {
    background:transparent image-url("logo.png") no-repeat top center!important;
    width:rem-calc(275px);
    height:rem-calc(185px);
    display:block;
    text-indent:-99999px;
    @include background-size(cover!important);
  }
}

/// Fonts, headings, lists, paragraphs
.texgyreregular_fontstack {
  font-family: 'texgyreherosregular', 'Helvetica Neue', Arial, sans-serif!important;
}

.texgyrebold_fontstack {
  font-family: 'texgyreherosbold', 'Helvetica Neue', Arial, sans-serif!important;
}

h1, h2, h3 {
  @extend .texgyrebold_fontstack;
}

/// Buttons
button, 
.button {
  background:$primary-color;
  @include border-radius(rem-calc(20px));
  white-space:nowrap;
}

.button,
.button.button-icon {
  background:#999;
  border:rem-calc(5px) solid #999;
  @include border-radius(40px);
  margin:0 0.8rem 0 0;
  padding:0;

  &:hover {
    background:none;
  }

  span {
    border:1px dashed #fff;
    background:none;
    padding:rem-calc(5px) rem-calc(4px);
    line-height: 2;
    @include border-radius(40px);
    display:inline-block;
    width:100%;

    span,
    .button_inner_most {
      display:block;
      font-size:rem-calc(16)!important;
      margin:0;
      line-height: 2.8;
      padding:0 rem-calc(20px);
      border:0;
      color:#999;
      background-color:#CCC;
      @include transition(1s);
      @include border-radius(rem-calc(20px));
    }
  }
}

.button.button.button-icon span span {
  padding:0 rem-calc(15px)!important;
  line-height:2.3;
}

.button {
  .active &.button-icon,
  & {
    background:#666;
    border:rem-calc(5) solid #666;

    span span,
    .button_inner_most {
      color:#FFF;
      background:$primary-color;
    }
  
    &:hover {
      background:none;
      color:$primary-color;

      span span,
      .button_inner_most {
        background:darken($primary-color, 10%);
      }
    }
  }
}

@mixin gradient_button($selector, $button_color, $text_color) {
  #{$selector} span .button_inner_most {
    @include background(linear-gradient($button_color, darken($button_color, 15%)));
    color:$text_color;
    font-weight:bold!important;
  }

  #{$selector}:hover span .button_inner_most {
    @include background(linear-gradient(lighten($button_color, 15%), darken($button_color, 25%)));
    text-shadow:1px 2px darken($button_color, 25%);
  }
}

@include gradient_button("button.button", $primary-color, #FFF);
@include gradient_button(".button.active", $primary-color, #FFF);
@include gradient_button(".destroy_button.button", #F00, #FFF);
//// Buttons

/// Header
///  start of header#main
#main.top-bar {
  line-height: rem-calc(90px);
  height:rem-calc(90px);
  background:none;
  
  h1, h2, h3, h4, h5, h6, p, a, span, li {
    text-shadow:0 1px 1px #000;
  }

    .logo a {
      width:rem-calc(162);
      height:rem-calc(116);
    }

  .top-bar-section {
    padding: 0 1rem;

    ul {
      border:0;
      background:none;
      li a {
        background:none;
        font-size:rem-calc(14px);
        line-height: rem-calc(39px);
        text-transform: lowercase;
        @extend .texgyrebold_fontstack;
        
        [class^="icon-"], [class*=" icon-"] {
          color:#fff;
          margin-right:0.5rem;
          font-size:rem-calc(13px);
        }      
        &:hover {
          [class^="icon-"], [class*=" icon-"] {
            color:#ccc;
          }
        }
      }
    }
  }

  .navigation {
    list-style-type:none;
    margin: 0;
    overflow: hidden;
  }

  .main-nav { 
    background:transparent image-url("nav_bg.png") repeat-x;
    background-position:50% 0;
    line-height: rem-calc(50px);
    z-index: 3;
    min-height:3.6rem;
    
    h1.logo {
      @include background-size(cover!important);

      &:hover {
        transform:rotate(2deg);
        -ms-transform:rotate(2deg); /* IE 9 */
        -webkit-transform:rotate(2deg); /* Safari and Chrome */
      }

      a {
        line-height:rem-calc(60px);
        background-color:transparent!important;
        display:block;
        padding:0;
      } 
    }

    h2 {
      line-height:rem-calc(40px);
      color:#FFF;
      padding-right:1rem;
    }

    ul li a:hover {
      color:#ccc;
    }
  }
  .secondary-nav {
    background:transparent image-url("nav_bg_subnav.png") repeat-x 100% 0;
    top: rem-calc(-13px);
    height:rem-calc(60px);
    line-height: rem-calc(60px);
    z-index: 2;

    h2 {
      @extend .texgyreregular_fontstack;      
      font-size:12px;
      line-height: 41px;
      color:#fff;
      margin:0 2rem 0 0;
      text-transform: lowercase;

    }

    ul {
      border:0;
      clear:none;
      background:none;
      margin:0 0 0 0.3rem;

      li { 
        a:hover {
          color:#ccc;
        }
       
        &.management_link.create_new_item {
          background:rgba(0,0,0,0.1);
       
          .icon-plus {
            font-size:7px;
            @include border-radius(20px);
            @include box-shadow(1px 1px 0 #000);
            background:#fff;
            padding:0.3rem;
            color:#666;
            text-shadow:none;
          }
        }

      }
    }

    //landing secondary nav
    .landing & {
      top: rem-calc(309px);
      z-index: 0;

      ul {
        display:none;
      }
    }
    //landing secondary nav

  }
  .shopping_cart {
  }
}
//end of header#main





