.logo {
  background:transparent image-url("logo.png") no-repeat top center!important;
  width:330px;
  height:210px;
  text-indent:-99999px;
  -webkit-background-size:contain!important;
  -khtml-background-size:contain!important;
  -moz-background-size:contain!important;
  -ms-background-size:contain!important;
  -o-background-size:contain!important;
  background-size:contain!important;
}